extends layout

block content 
    h1= title

    form(method='POST' action='')
        div.form-group
            label(for='first_name') First name: 
            input#first_name.form-control(type='text'
                placeholder='Please enter your first name'
                name='first_name'
                required='true'
                maxLength='20'
                value=(undefined===user ? '' : user.firstName))
            br    
        div.form-group
            label(for='last_name') Last name: 
            input#last_name.form-control(type='text'
                placeholder='Please enter your last name'
                name='last_name'
                maxLength='20'
                value=(undefined===user ? '' : user.lastName))
            small(class='information') This is optional 
            br
            br
        div.form-group
            label(for='username') Username: 
            input#username.form-control(type='text'
                placeholder='Please enter your username'
                name='username'
                required='true'
                maxLength='20'
                value=(undefined===user ? '' : user.username))
            small(class='information') This will be required when you login
            br 
            br
        div.form-group
            label(for='password') Password: 
            input#password.form-control(type='password'
                placeholder='Please enter your password'
                name='password'
                required='true'
                minLength='4')
            br
        div.form-group
            label(for='confirm_password') Confirm password: 
            input#confirm_password.form-control(type='password'
                placeholder='Please re-enter password'
                name='confirm_password'
                required='true')
            br
        button.btn.btn-primary(type='submit') Submit

    if errors 
        ul 
            for error in errors 
                li!= error.msg